

body {
  display: flex;
  flex-direction: column;
  font-family:
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;  
  padding: 10px;
}

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.leftcolumn {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.rightcolumn {
  display: flex;
  align-items: center;
}

.heromain {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.herosecondary {
  font-size: 18px;
  color: #E5E7EB;
}

.headerlogotext {
  font-size: 24px;
  color: #f9faf8;
}